* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

#header {
  background-color: #6868F6;
  margin: 0;
  padding: 0;
}
#header img {
  width: 40px;
}

body {
  font-family: "Fjalla One", sans-serif;
  animation-duration: 1s;
  animation-name: aparecer;
}

#footer {
  background: #f3efff;
}
#footer a {
  text-decoration: none;
  color: #6962B7;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Info__titulo {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.textInformation {
  line-height: 2.2;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.market__img {
  width: 100px;
}
.market__img img {
  width: 100%;
  object-fit: cover;
}

.section img {
  object-fit: cover;
}

.container-md {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .container-md img {
    width: 50%;
  }
}

.bg {
  background-color: #6868F6;
}

.titulo {
  color: white;
}

.subtitulo {
  color: white;
}

button {
  background-color: #150f5a;
  border: none;
  color: #6962B7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.fas {
  font-size: 50px;
}

.navbar-right {
  margin-right: 100px;
}

.fas {
  font-size: 20px;
}

.reglas__contenido {
  font-size: 1rem;
  line-height: 30px;
}

.boton {
  margin-bottom: 20px;
}

.bgRegulation {
  background-color: #8686e0;
}

.Experts {
  background-color: #8686e0;
  border-radius: 25px;
}

.blockchain__text {
  line-height: 3rem;
}

.blockchain2 {
  width: 60%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .blockchain2 img {
    width: 50%;
  }
}

.content {
  width: dsd;
}

.imgBlockchain {
  animation: heartBeat;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.lenguajes__a {
  color: #6962B7;
}

.btn {
  background-color: #150f5a;
}

.card {
  background-color: #F4F5F9;
}

.pruebita {
  border: 1px solid #cfc0c0;
}

.imgIdiomas {
  width: 80%;
}

.ulli {
  margin-bottom: 100px;
}
.ulli li {
  background-color: #F4F5F9;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 13px;
  list-style: none;
  width: [object Object] px;
  height: [object Object] px;
  background: #F8F8F8;
  border: solid #BDBDBD 1px;
  box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5);
}
.ulli a {
  color: #6962B7;
}

.jobs-marketing__content {
  justify-self: center;
  align-self: center;
}

.jobs-backend__content {
  justify-self: center;
  align-self: center;
}

.jobs-blockchain__content {
  justify-self: center;
  align-self: center;
}

.jobs-backend__img {
  width: 600px;
}
.jobs-backend__img img {
  width: 100%;
}

.jobs-marketing__img {
  width: 600px;
}
.jobs-marketing__img img {
  width: 100%;
}

.jobs-blockchain__img {
  width: 600px;
}
.jobs-blockchain__img img {
  width: 100%;
}

a {
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
