.ulli{

    margin-bottom: 100px;

    li{
    background-color: #F4F5F9;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 13px;
    list-style: none;
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: -2px 1px 7px rgba(0, 0, 0, 0.5)  ; 
    }
    a{
        color: #6962B7;
    }
    
}
