*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* font-size: 62.5%; */
}


html:focus-within {
    scroll-behavior: smooth;
}
  
#header{
    img{
        width: 40px;
    }
    background-color: #6868F6;
  /*   background-color: #2B214D; ; */
    margin: 0;
    padding: 0;
    
}


$colorcito: negro;

body{
    font-family: 'Fjalla One', sans-serif;
    animation-duration: 1s;
    animation-name: aparecer;
}

#footer{
    background:  #f3efff;
    a{
        text-decoration: none;
        color: #6962B7;
     }
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 

.Info__titulo{
    display: flex;
    justify-content: center;
    padding: 50px;

}

.textInformation{
    line-height: 2.2;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.darkMode{
    color: white;
    border: none;
    background-color: #6868F6;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

