.market__img{
    width: 100px;
    img{
        width: 100%;
        object-fit: cover;
    }
 }

 .section {
    img{
        object-fit: cover;
    }
}

.container-md{
    width: 100%;
    object-fit: cover;

    @media (min-width: 768px) { 
        img{ 
            width: 50%;
            
        }
     }

}

.bg{
    background-color: #6868F6;   
}

.titulo{
    color:white;
}

.subtitulo{
    color:white;
}
button {
    background-color: #150f5a; 
    border: none;
    color: #6962B7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.fas{
    font-size: 50px;
}

.navbar-right{
    margin-right: 100px;
}

