$mapa: (
    p1: 1rem,
    p2: 2rem,
    p3: 3rem,
    p4: 4rem
);

$ptama: map-get($mapa , p1 );

.reglas__contenido{
    font-size: $ptama;
    line-height: 30px;
}

.boton{
    margin-bottom: 20px;
}

.bgRegulation{
    background-color: #8686e0;
}

