.lenguajes__a {
    color: #6962B7;
}

.btn{
    background-color: #150f5a;
}

.card{
    background-color: #F4F5F9;
}

.pruebita{
    border: 1px solid rgb(207, 192, 192);
}

.imgIdiomas{
    width: 80%;
}